.react-number-keyboard{
  color:#000;
  font-size:10px;
  >.bd{
    height: 20em;
    width:100%;
    overflow: hidden;
    >.wrapper{
      margin-right: -1px;
      margin-top: -1px;
      height: calc(100% - 1px);
      overflow: hidden;
      >.cell{
        position: relative;
        box-sizing: border-box;
        font:2.5em/1.2 "Helvetica neue", Verdana, Geneva, sans-serif;
        height: 2em;
        text-align: center;
        background: #FFF;
        color: #000;
        float: left;
        width:33.33%;
        border:1px solid #b3b3b3;
        border-width: 0 1px 1px 0;
        user-select:none;

        >img{
          position: absolute;
          width:30px;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
        }

        &:active{
          background: lighten(#D1D5DA,10%);
        }

        &:focus{
          outline:none;
        }


        &[data-theme=gray]{
          background: #D1D5DA;
          &:active{
            background: darken(#D1D5DA,10%);
          }
        }
      }
    }
  }
}
